
.bold {
  font-weight: bold;
}

.text-1100 {
  font-size: var(--font-size-1100);
  line-height: var(--line-height-1100);
}

.text-1000 {
  font-size: var(--font-size-1000);
  line-height: var(--line-height-1000);
}

.text-900 {
  font-size: var(--font-size-900);
  line-height: var(--line-height-900);
}

.text-800 {
  font-size: var(--font-size-800);
  line-height: var(--line-height-800);
}

.text-700 {
  font-size: var(--font-size-700);
  line-height: var(--line-height-700);
}

.text-600 {
  font-size: var(--font-size-600);
  line-height: var(--line-height-600);
}

.text-500 {
  font-size: var(--font-size-500);
  line-height: var(--line-height-500);
}

.text-400 {
  font-size: var(--font-size-400);
  line-height: var(--line-height-400);
}

.text-300 {
  font-size: var(--font-size-300);
  line-height: var(--line-height-300);
}

.text-200 {
  font-size: var(--font-size-200);
  line-height: var(--line-height-200);
}

.text-100 {
  font-size: var(--font-size-100);
  line-height: var(--line-height-100);
}

.text-50 {
  font-size: var(--font-size-50);
  line-height: var(--line-height-50);
}

.text-25 {
  font-size: var(--font-size-25);
  line-height: var(--line-height-25);
}