
.card {
  background-color: var(--clr-gray-100);
  max-width: 60ch;
  margin: auto;
  padding: var(--space-600);
  border-radius: var(--rounded-600);
  box-shadow: var(--shadow-400);

  > * + * {
    margin-top: var(--space-600);
  }
}

.card-small {
  padding: var(--space-400) var(--space-500);
}