

.table-container {
  border: 1px solid var(--clr-gray-400);
  border-radius: 10px;
  overflow-x: auto;
  scrollbar-width: thin;
}

.table {
  width: max-content;
  border-collapse: collapse;

  tr > *:first-child {
    border-right: 1px solid var(--clr-gray-400);
  }
  
  th, td {
    padding: var(--space-300) var(--space-500);
    max-width: 60ch;
    
    text-align: center;
    border-bottom: 1px solid var(--clr-gray-400);
    cursor: pointer;
  }

  tbody {

    tr:hover {
      background-color: var(--clr-gray-200);
    }

    tr[selected] {
      background-color: var(--clr-gray-300);
    }

    td[left] {
      text-align: left;
    }
    
    td[right] {
      text-align: right;
    }

  }

}
